body{
    font: 10pt Arial;
    background-color: #3981BF;
}
h1, footer{
    color: #FFFFFF;
    text-align: center;
}
section{
    background-color: #FFFFFF;
    width: 350px;
    height: 200px;
    padding: 30px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 2px #00000060;
}
select{
    width: 250px;
    height: 150px;
    text-align: center;
    border-radius: 5px;
}
#txtbtn{
    border: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #3981BF;
    color: #FFFFFF;
}
#divSel{
    margin-left: 50px;
}
#txtbtn:hover{
    background-color: #285a86;
    cursor: pointer;
}
#txtnum{
    padding: 10px 0px 10px 0px;
}